name: test-clang-format

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: DoozyX/clang-format-lint-action@v0.5
      with:
        source: './src'
        exclude: './external'
        extensions: 'hpp,cpp,h'
        clangFormatVersion: 10
